<section class="todo-app">
  <section class="header">
    <h1>Todo</h1>
    <div class="entry-field">
      <input class="new-todo" placeholder="What needs to be done?" [(ngModel)]="newTodo" (keyup.enter)='addTodo()'
        autofocus>
      <button class="btn-add-todo" (click)='addTodo()' type="button">Add</button>
    </div>
  </section>

  <section class="main">
    <ul class="todo-list">
      <app-todo-item *ngFor='let todo of todoItems; let i = index' [index]='i' [todo]='todo' (event)='deleteTodo(i)'>
      </app-todo-item>
    </ul>
  </section>
</section>
